<%- include("header") -%>
<div class="box" id="heading"><h1><%=agenda%></h1></div>
<% listItem.forEach(function(items){ %>
<div class="box">
  <!-- This is for deleting the Data -->
  <form action="/delete" method="post">
    <input
      type="checkbox"
      onchange="this.form.submit()"
      name="check"
      value="<%=items._id %>"
      class="myCheckBox"
      id=""
    /><%=items.name%> <% }); %>
    <input type="hidden" name="listName" value="<%= agenda%>"></input>
  </form>
  <!-- This is for Inserting the Data. -->
  <form action="/" method="post" class="item">
    <input
      type="text"
      name="newItem"
      id=""
      placeholder="New Item"
      autocomplete="off"
    />
    <Button type="submit" name="list" value="<%=agenda%>"> + </Button>
  </form>
</div>
<%- include("footer") -%>
